*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(6, 6, 83); */
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 60vh;
    width: 35vw;
    /* background-color: white; */
    background-color: wheat;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
}
.title h2{
    font-weight: bold;
    border-bottom: 1px solid rgb(54, 51, 51);
    padding-bottom: 10px;
}
#questions{
    margin: 10px 0;  
}
#question{
    font-size: 1.2em;
    font-weight: 500;
}
.btn{
    padding: 8px 10px;
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
    background-color: white;
    /* transition: all 1s; */
}

.btn:disabled{
    cursor: no-drop;
}
/* .btn:hover{
    background-color: rgb(54, 51, 51);
    color: white;
} */
#next-btn{
    padding: 12px 16px;
    background-color: rgb(6, 143, 97);
    border-radius: 5px;
    border: none;
    color: white;
    margin: 8px 0;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}



@media only screen and (max-width:480px){
    body{
       padding: 15px;
    }
    .container{
         height: 100%;
         width: 100%;
    }
}
